@{
    ViewBag.Title = "Vue.js Datatable";
}

<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/Vuetify/vuetify.js"></script>
<script src="~/Scripts/axios.js"></script>
<p>&nbsp;</p>
<div id="app">
    <v-app id="inspire">
     
        <v-data-table :headers="headers"
                      :items="employees"
                      :search="search"
                      sort-by="lastName"
                      class="elevation-1">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Employees Info Page</v-toolbar-title>
                    
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search"
                                  append-icon="mdi-magnify"
                                  label="Search"
                                  single-line
                                  hide-details></v-text-field>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog"
                              max-width="600px">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn color="primary"
                                   dark
                                   class="mb-2"
                                   v-bind="attrs"
                                   v-on="on">
                                New Employee
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12"
                                               sm="6"
                                               md="4">
                                            <v-text-field v-model="editedItem.LastName"
                                                          label="Last name"></v-text-field>
                                        </v-col>
                                        <v-col cols="12"
                                               sm="6"
                                               md="4">
                                            <v-text-field v-model="editedItem.FirstName"
                                                          label="First name"></v-text-field>
                                        </v-col>
                                        <v-col cols="12"
                                               sm="6"
                                               md="4">
                                            <v-text-field v-model="editedItem.Title"
                                                          label="Title"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        @*<v-col cols="12"
                                               sm="6"
                                               md="4">
                                            <v-text-field value="Time Off Request:"
                                                          label="Solo"
                                                          solo
                                                          readonly></v-text-field>
                                        </v-col>
                                        <v-col cols="12"
                                               sm="6"
                                               md="4">
                                            <v-menu ref="menu1"
                                                    v-model="menu1"
                                                    :close-on-content-click="false"
                                                    :return-value.sync="date1"
                                                    transition="scale-transition"
                                                    offset-y
                                                    min-width="290px">
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field v-model="date1"
                                                                  label="From:"
                                                                  prepend-icon="mdi-calendar"
                                                                  readonly
                                                                  v-bind="attrs"
                                                                  v-on="on"></v-text-field>
                                                </template>
                                                <v-date-picker v-model="date1"
                                                               no-title
                                                               scrollable>
                                                    <v-spacer></v-spacer>
                                                    <v-btn text
                                                           color="primary"
                                                           v-on:click="menu1 = false">
                                                        Cancel
                                                    </v-btn>
                                                    <v-btn text
                                                           color="primary"
                                                           v-on:click="$refs.menu1.save(date1)">
                                                        OK
                                                    </v-btn>
                                                </v-date-picker>
                                            </v-menu>
                                        </v-col>

                                        <v-col cols="12"
                                               sm="6"
                                               md="4">
                                            <v-menu ref="menu2"
                                                    v-model="menu2"
                                                    :close-on-content-click="false"
                                                    :return-value.sync="date2"
                                                    transition="scale-transition"
                                                    offset-y
                                                    min-width="290px">
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field v-model="date2"
                                                                  label="To:"
                                                                  prepend-icon="mdi-calendar"
                                                                  v-bind="attrs"
                                                                  v-on="on"></v-text-field>
                                                </template>
                                                <v-date-picker v-model="date2"
                                                               no-title
                                                               scrollable>
                                                    <v-spacer></v-spacer>
                                                    <v-btn text
                                                           color="primary"
                                                           v-on:click="menu2 = false">
                                                        Cancel
                                                    </v-btn>
                                                    <v-btn text
                                                           color="primary"
                                                           v-on:click="$refs.menu2.save(date2)">
                                                        OK
                                                    </v-btn>
                                                </v-date-picker>
                                            </v-menu>
                                        </v-col>*@

                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1"
                                       text
                                       v-on:click="close">
                                    Cancel
                                </v-btn>
                                <v-btn color="blue darken-1"
                                       text
                                       v-on:click="save(editedItem)">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <v-dialog v-model="dialogDelete" max-width="600px">
                        <v-card>
                            <v-card-title class="headline">Are you sure you want to delete this employee?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text v-on:click="closeDelete">Cancel</v-btn>
                                <v-btn color="blue darken-1" text v-on:click="deleteItemConfirm(editedItem)">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-btn small
                       class="mr-2"
                       v-on:click="editItem(item)">
                    Edit
                </v-btn>
                <v-btn small
                       v-on:click="deleteItem(item)">
                    Delete
                </v-btn>
            </template>
            @*<template v-slot:no-data>
                <v-btn color="primary"
                       v-on:click="initialize">
                    Reset
                </v-btn>
            </template>*@
        </v-data-table>
    </v-app>
</div>

<link href="~/Content/Vuetify/vuetify.css" rel="stylesheet" />
<link href="~/Content/Vuetify/vuetify.min.css" rel="stylesheet" />

@section scripts{

    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/Vuetify/vuetify.min.js"></script>
    <script src="~/Scripts/axios.min.js"></script>

    <script>

        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: () => ({
                date1: new Date().toISOString().substr(0, 10),
                date2: new Date().toISOString().substr(0, 10),
                menu1: false,
                menu2: false,
                modal: false,
                dialog: false,
                dialogDelete: false,
                search: '',
                headers: [
                    {
                        text: 'Last Name',
                        align: 'start',
                        value: 'LastName',
                    },
                    { text: 'First Name', value: 'FirstName', sortable: false },
                    { text: 'Title', value: 'Title' },
                    //{ text: 'Time Off', value: 'timeOff', sortable: false },
                    { text: 'Actions', value: 'actions', sortable: false },
                ],
                employees: [],
                errors: [],
                editedItem: {
                    LastName: '',
                    FirstName: '',
                    Title: '',

                },
                defaultItem: {
                    LastName: '',
                    FirstName: '',
                    Title: '',

                },

            }),

            computed: {
                formTitle() {
                    return this.editedIndex === -1 ? 'New Employee' : 'Edit Employee'
                },
            },

            watch: {
                dialog(val) {
                    val || this.close()
                },
                dialogDelete(val) {
                    val || this.closeDelete()
                },
            },


            mounted: function () {
                axios.get('@Url.Action("GetEmployeeList","Home")')
                    .then(response => {
                        this.employees = response.data.data

                    })

            },

            methods: {
                //initialize() {
                //    //this.employees = []
                //    GetEmployeeList().then(response => {
                //        this.employees = response.data
                //    }).catch(e => {
                //        console.log(e)
                //    });
                //},


                editItem(item) {
                    this.editedIndex = this.employees.indexOf(item)
                    this.editedItem = Object.assign({}, item)
                    this.dialog = true

                },

                deleteItem(item) {

                    this.editedIndex = this.employees.indexOf(item)
                    this.editedItem = Object.assign({}, item)
                    this.dialogDelete = true
                },

                deleteItemConfirm(item) {
                    axios.post('@Url.Action("DeleteEmployee", "Home")', { EmployeeID: item.EmployeeID })
                        .then(response => {
                            this.deletedItem = Object.assign({}, item)
                            this.deletedID = this.deletedItem.id
                            window.location.href ='@Url.Action("DataTable", "Home")'
                            this.response = response
                        }).catch(error => {
                            console.log(error.response)
                        });
                    this.closeDelete()
                },

                close() {
                    this.dialog = false
                    this.$nextTick(() => {
                        this.editedItem = Object.assign({}, this.defaultItem)
                    })
                },

                closeDelete() {
                    this.dialogDelete = false
                    this.$nextTick(() => {
                        this.editedItem = Object.assign({}, this.defaultItem)
                    })
                },

                save(item) {
                    axios.post('@Url.Action("EditEmployee", "Home")', { EmployeeID: item.EmployeeID, LastName: item.LastName, FirstName: item.FirstName, Title: item.Title })
                        .then(response => {
                            this.editedItem = Object.assign({}, item)
                            this.editedID = this.editedItem.id
                            this.response = response
                            window.location.href ='@Url.Action("DataTable", "Home")'
                        }).catch(error => {
                            console.log(error.response)
                        });
                    this.close()
                },
            },
        })

    </script>

}